.cp{
display: flex;
max-width: 394px;
width: 98%;
height: 42px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 2px solid #F00;
color: #24759F;
text-align: center;
font-family: 'Cairo';
font-size: 18px;
font-style: normal;
font-weight: 700;
  cursor: pointer;
 
}
.main{
border-radius: 16px;
border: 3px solid #24759F;
background: #FFF;
max-width: 1110px;
width: 99%;
}
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 2;
      display: none;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 24px;
    }
.send_msg_div{
direction: rtl;
display: flex; 
border-radius: 16px; 
background: #FFF;
max-width: 1110px;
width: 99%;
align-items: center;
text-align: center;
}
.msg_block{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 14px;
align-self: stretch;
border-radius: 24px;
border: 1px solid #8DE0CD;
width: 99%;
}
.user{
    display: flex;
width: 194px; 
padding: 5px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 8px;
background: #1C5979;
color: #FFF;
text-align: right;
font-family: 'Cairo';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.msg_content{
    border-radius: 24px;
display: flex; 
padding: 8px ;
justify-content: flex-end;
align-items: center;
gap: 10px;
align-self: stretch;
color: #000;
text-align: right; 
font-family: 'Cairo';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 24px;
background: rgba(217, 217, 217, 0.50);
}
.file_div{
    display: flex;
width: 138px;
height: 27px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #24759F;
color: #8DE0CD;
text-align: center;
font-family: Cairo;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.alert_msg{
    margin-bottom:5px ;
    direction: rtl;
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
background: rgba(217, 217, 217, 0.30);
color: #24759F;
font-family: 'Cairo';
font-size: 16px;
font-style: normal;
font-weight: 700;
justify-content: center;
max-width: 900px;
width: 99%;
}
.msg_box{
display: flex;
max-width: 810px;
width: 99%;
height: 64px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 1px;
border-radius: 8px;
border: 1px solid #000;
background: #FFF;
color: rgba(0, 0, 0, 0.50);
text-align: right; 
font-family: 'Cairo';
font-size: 18px;
font-style: normal;
font-weight: 700;
float: inline-end;
margin-top: 5px;
}
.send_msg_btn{
display: flex;
max-width: 230px;
width: 99%;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 2px solid #24759F;
color: #24759F;
text-align: center; 
font-family: 'Cairo';
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.send_msg_btn_m{ 
    display: none;
    max-width: 90px;
    width: 99%;
    height: 60px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #24759F;
    color: #24759F;
    text-align: center; 
    font-family: 'Cairo';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scaleX(-1);
    }
.chat_report{
 margin: 2px;
 float:left;
 width: 20px; 
}
.send_file{
display:none;/* inline-table */
position: absolute;
z-index: 3;
border-radius: 22px;
border: 3px solid #24759F;
background: #FFF;
left:50%;
top:50%;
transform: translate(-50%,-50%);
max-width: 450px;
width: 98%;
justify-content: center;
  
}
.ok_btn{
    display: flex;
width: 136px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #8DE0CD;
background: #1C5979;
color: #8DE0CD;
text-align: center;
font-family: 'Cairo';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.close_btn{
display: flex;
width: 136px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #BD1919;
background: #FFFFFF;
color: #1C5979;
text-align: center;
font-family: 'Cairo';
font-size: 18px;
font-style: normal;
font-weight: 700;
 
}
.select_file{
display: flex;
width: 252px;
height: 52px;
padding: 10px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #8DE0CD;
background: #24759F;
color: #8DE0CD;
text-align: center;
font-family: 'Cairo';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;

}
.plus_icon{
    display: flex;
    position: relative;
    gap: 19px;
}

.control_panel{
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;

}
.td_green{ 
width: 253px;
height: 41px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 16px;
border: 1px solid #000;
background: rgba(141, 224, 205, 0.50);
color: #0D2A39;
text-align: center; 
font-family: 'Wafeq';
font-size: 15px;
font-style: normal;
font-weight: 700;
}
.td_white{ 
width: 254px;
height: 41px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 16px;
border: 1px solid #000;
color: #FFA500;
text-align: center;
font-family: 'Wafeq';
font-size: 15px;
font-style: normal;
font-weight: 700;
}
#order_info{
     border-collapse: collapse;
}
.cp_btn_blue{
margin-top: 15px;
width: 242px;    
height: 64px;
padding: 10px;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 8px;
background: #24759F;
color: #FFF;
font-family: 'Wafeq';
font-size: 15px;
font-style: normal;
font-weight: 700; 
}
.cp_btn_gray{
margin-top: 15px;
width: 242px;  
height: 64px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 8px; 
border-radius: 8px;
border: 1px solid #000;
background: #969393;
color: #FFF;
text-align: center;
font-family: 'Wafeq';
font-size: 15px;
font-style: normal;
font-weight: 700;
}
.cp_btn_white{
margin-top: 15px;
width: 242px;  
height: 64px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 8px; 
border-radius: 8px;
border: 1px solid #FF0000;
background: white;
color: #24759F;
text-align: center;
font-family: 'Wafeq';
font-size: 15px;
font-style: normal;
font-weight: 700;
}
.td_1{
     align-items: center; justify-content: center; height: 100%;
}
.order_ico{
    width: 30px;
    height: 30px;
}

/*####################### Media ####################*/
@media (max-width: 761px) {
    .send_msg_btn{display: none;}
    .send_msg_btn_m{display: flex;}

    .order_cols,.td_1{display: flex;flex-direction: column;}

    }
  