.desktop-p-one {
     display: flex
;
    height: 540px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%; 
}

.desktop-p-one .view {
  display: flex;
  flex-direction: column;
  width: 553.5px;
  align-items: center;
  justify-content: center;
  gap: 17.25px;
  position: relative; 
}

.desktop-p-one .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  padding: 6px 42px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-p-one .text-wrapper {
 /* انطلق نحو النجاح وحقق اهدافك بكل سهولة! */

width: 470px;
height: 45px;

font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 45px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-one .div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  padding: 6px 21px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-one .p { 
width: 479.25px;
height: 170px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: rgba(68, 58, 58, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-one .view-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 6px 7.5px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-one .view-3 {
  display: flex;
  width: 220.12px;
  height: 48.75px;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  padding: 6px 18px;
  position: relative;
  background-color: #3d708b;
  border-radius: 6.75px;
}

.desktop-p-one .text-wrapper-2 {
  /* استكشف الخدمات */

width: 140px;
height: 34px;

font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-one .view-4 {
 /* زر انشاء حساب */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 18px;
gap: 7.5px;

width: 220.12px;
height: 48.75px;

/* لون الأزرار الرئيسية */
background: #7ACAB6;
border-radius: 6.75px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.desktop-p-one .text-wrapper-3 {
   

width: 129px;
height: 34px;

font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px; 
display: flex;
align-items: center;
text-align: center;
 
color: #1D475A;
 
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-one .overlap-group-wrapper {
  position: relative;
  width: 409.5px;
  height: 405px;
}

.desktop-p-one .overlap-group {
  position: relative;
  width: 409px;
  height: 406px;
}

.desktop-p-one .rectangle {
  width: 283px;
  height: 299px;
  top: 54px;
  border-radius: 30px;
  border: 4.5px solid;
  border-color: #8de0cdb2;
  transform: rotate(52.78deg);
  position: absolute;
  left: 63px;
}

.desktop-p-one .rectangle-2 {
  width: 284px;
  height: 298px;
  top: 63px;
  background-color: #3d708b;
  border-radius: 12px;
  position: absolute;
  left: 63px;
}

.desktop-p-one .clipped-image {
  position: absolute;
  width: 193px;
  height: 298px;
  top: 63px;
  left: 108px;
  object-fit: cover;
} 

/* ------------------- Desktop p two ------------------- */
.desktop-p-two {
  direction: ltr;
  display: flex;
  width:100%;
  max-width: 966.75px;
  height: 286.85px;
  align-items: center;
  justify-content: center;
  gap: 79.5px;
  padding: 48px 36px;
  position: relative;
  background-color: #3d708b;
  border-radius: 12px;
}

.desktop-p-two .mobile-frame {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-two .image {
  position: relative;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.desktop-p-two .view {
  display: flex;
  flex-direction: column;
  max-width: 451.5px;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
  margin-top: -38.95px;
  margin-bottom: -38.95px;

}

.desktop-p-two .div-wrapper {
  
  width: 256.5px;
  gap: 7.5px;
  padding: 6px 7.5px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-two .text-wrapper {
  /* مبدعون في جميع المجالات! */

width: 286px;
height: 45px;

font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 45px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-two .div {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-two .p {
   /* اكتشف إمكانيات جديدة، وحقق طموحاتك. */

width: 451.5px;
height: 34px;
direction: rtl;
font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
/* identical to box height */

align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.desktop-p-two .text-wrapper-2 { 
max-width: 451.5px;
height: 168.75px;
width: auto;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* -------------- Desktop p Three ------------*/
.desktop-p-three {
  display: flex;
  max-width: 966.75px;
  width: 100%;
  height: 333.75px;
  align-items: center;
  justify-content: center;
  gap: 79.5px;
  padding: 48px 36px;
  position: relative;
  background-color: #3d708b;
  border-radius: 12px;
}

.desktop-p-three .mobile-frame {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 7.5px;
  position: relative;
}

.desktop-p-three .image {
  position: relative;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.desktop-p-three .view {
  display: flex;
  flex-direction: column;
  width: 451.5px;
  align-items: center;
  gap: 9px;
  position: relative;
  margin-top: -15.50px;
  margin-bottom: -15.50px;
}

.desktop-p-three .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  padding: 6px 7.5px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-three .text-wrapper {
  /* الجودة والأمان في كل خدمة */

width: 296px;
height: 45px;

font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 45px;
/* identical to box height */

align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-three .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-p-three .text-wrapper-2 {
  /* ثقتك هي أساس نجاحنا. */

width: 451.5px;
height: 34px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
/* identical to box height */

align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;
direction:rtl;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; 
}

.desktop-p-three .p { 
width: 451.5px;
height: 168.75px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* -----------Desktop Four------------  */

.desktop-p-four {
  display: flex;
  max-width: 966.75px;
  width: 100%;
  height: 333.75px;
  align-items: center;
  justify-content: center;
  gap: 79.5px;
  padding: 48px 36px; 
  background-color: #3d708b;
  border-radius: 12px;
  overflow: hidden;
}

.desktop-p-four .view {
  display: flex;
  flex-direction: column;
  width: 451.5px;
  align-items: center;
  gap: 9px;
  position: relative;
  margin-top: -15.50px;
  margin-bottom: -15.50px;
}

.desktop-p-four .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  padding: 6px 7.5px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-p-four .text-wrapper {
 /* مبدعون في جميع المجالات! */

width: 286px;
height: 45px;

font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 45px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.desktop-p-four .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-p-four .p { 
width: 451.5px;
height: 34px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px; 

align-items: center;
text-align: center; 
color: #85D5C1;
 direction: rtl;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.desktop-p-four .text-wrapper-2 { 
width: 451.5px;
height: 168.75px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

display: block;
  max-width: 100%;  
  overflow-wrap: break-word;  
  white-space: normal; 

}

.desktop-p-four .image-wrapper {
     
  max-width: 300px;
  min-width: 150px;
  margin:auto;
     
}

.desktop-p-four .image {
    
  max-width: 300px;
  min-width: 200px;
  height: 180px; 

}












/*################################ For Mobile #########################*/
.mobile {
  display: none;


}

.box {
  width: 334px;   /* 167px × 2 */
  height: 330px;  /* 165px × 2 */
}

.box .view {
   
  width: 167px;
  height: 165px;
   
}

.box .overlap-group {
  position: relative;
  width: 332px;   /* 166px × 2 */
  height: 330px;  /* 165px × 2 */
}

.box .rectangle {
  position: absolute;
  top: 44px;              /* 22px × 2 */
  left: 52px;             /* 26px × 2 */
  width: 230px;           /* 115px × 2 */
  height: 242px;          /* 121px × 2 */
  border-radius: 24.4px;  /* 12.2px × 2 */
  border: 3.66px solid;   /* 1.83px × 2 */
  border-color: #8de0cdb2;
  transform: rotate(52.78deg);
}

.box .div {
  position: absolute;
  top: 50px;              /* 25px × 2 */
  left: 52px;             /* 26px × 2 */
  width: 230px;           /* 115px × 2 */
  height: 242px;          /* 121px × 2 */
  background-color: #3d708b;
  border-radius: 9.76px;  /* 4.88px × 2 */
}

.box .clipped-image {
  position: absolute;
  top: 50px;              /* 25px × 2 */
  left: 88px;             /* 44px × 2 */
  width: 158px;           /* 79px × 2 */
  height: 242px;          /* 121px × 2 */
  object-fit: cover;
}


.label {/* انطلق نحو النجاح وحقق اهدافك بكل سهولة! */

 
width: 336px;
height: 34px;
 

/* حجم خط العناوين الرئيسية للجوال */
font-family: 'Cairo';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 34px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;
direction: rtl;


}
 
 .m-p-2{    

width: 366px;
max-width: 90%;
height: 150px; 
 
font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
 
align-items: center;
text-align: justify;

color: rgba(68, 58, 58, 0.7);

direction: rtl;


 }

.mobile-frame {
  display: flex;
  flex-direction: row;    /* يجعل الأطفال يجلسون جنب بعض */
  align-items: center;    /* توسيط عمودي */
  justify-content: center;/* توسيط أفقي */
  gap: 32px;              /* المسافة بين كل عنصر */
margin: 20px 0;
}

.mobile-frame .div-wrapper {
 /* Frame 2 */

box-sizing: border-box;

/* Auto layout */
 
flex-direction: center;
justify-content: center;
align-items: center;
padding: 3px 0px;


width: 162px;
height: 38px;

background: #3D708B;
/* لون البراند الأساسي */
border: 0.305px solid #8DE0CD;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.mobile-frame .text-wrapper {
 /* زر تسجيل الدخول */

width: 130px;
height: 26px;

/* حجم الخط للأزرار الرئيسية للجوال */
font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.mobile-frame .div {
 
  /* Frame 3 */

/* Auto layout */
 
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2.44px 5.32px;
gap: 3.05px;

width: 162px;
height: 38px;

/* لون الأزرار الرئيسية */
background: #7ACAB6;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0; 

}

.mobile-frame .div-wrapper,
.mobile-frame .div {
  display: flex;             /* مهمّ */
  justify-content: center;   /* توسيط أفقي */
  align-items: center;       /* توسيط عمودي */
}

/* تأكد أنّ النص نفسه أيضاً flex-item مُتمركز */
.mobile-frame .text-wrapper,
.mobile-frame .text-wrapper-2 {
  display: flex;             /* تأكد من وجودها */
  justify-content: center;   /* توسيط أفقي */
  align-items: center;       /* توسيط عمودي */
  text-align: center;        /* للسلامة */
  
  /* بدلًا من width ثابت، اجعلها تتوسّع تلقائيًا */
  width: auto;
}

.mobile-frame .text-wrapper-2{
  /* زر أنشئ حسابك الآن */

width: 130px;
height: 26px;

font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الفاتحة */
color: #1D475A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}




.mobile-p-one {
  max-width: 366px;
  width: 95%;
  height: 340px;
  background-color: #3d708b;
  border-radius: 4.88px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mobile-p-one .view {
  flex-direction: column;
  width: 300px;
  height: 294px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mobile-p-one .frame {
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.mobile-p-one .text-wrapper {
 /* كل ما تحتاجه بين يديك! */

width: 300px;
height: 34px;

/* حجم خط العناوين الرئيسية للجوال */
font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 34px;
/* identical to box height */
 
align-items: center;
text-align: center;

/* لون الخطوط للخلفية الغامقة */
color: #85D5C1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}

.mobile-p-one .div {
  flex-direction: column;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.mobile-p-one .p { 
width: 300px;
height: 30px;
 
font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height */
 
align-items: center;
text-align: center;
 
color: #85D5C1;
 
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; 
}

.mobile-p-one .text-wrapper-2 {  
width: 300px;
height: 211px;
 
font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
 
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}













/*########################### Media #####################################*/



@media screen and (max-width: 701px) {
    .desktop-p-one, .desktop-p-three, .desktop-p-two, .desktop-p-four {
        display: block;
    }


.mobile {display: none;}

}

 @media screen and (max-width: 700px) {
    .desktop-p-one, .desktop-p-three, .desktop-p-two, .desktop-p-four {
        display: none;
    }


.mobile {display: block;}

}

@media screen and (max-width: 700px) {

.mobile {
  display: flex;             /* تحويل الحاوية إلى flex */
  flex-direction: column;    /* ترتيب العناصر عمودياً */
  align-items: center;       /* توسيط أفقي لكل الأبناء */
  justify-content: center;   /* توسيط عمودي داخل الحاوية */
  width: 100%;               /* اجعل الحاوية تمتد بعرض الشاشة */
  min-height: 100vh;         /* (اختياري) لملء كامل ارتفاع الشاشة */
  margin: 0 auto;            /* يضمن توسيطها أفقياً */
  text-align: center;        /* لتوسيط النصوص داخل الأبناء */
}
}